@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.feedbacks{
    padding: 0 $m-side-padding 3rem;

    @include tablet{
        padding: 0 $t-side-padding 3rem;
    }

    &__title{
        font-weight: 600;
    }
}

.feedback{
    border: 1px solid $primary;
    margin-top: 0.5rem;
    padding: 0.5rem;
    color: #000;
    border-radius: 8px;
    width: 100%;
    background-color: #FFF;
    text-align: left;

    &:hover{
        border: 2px solid $primary;
        cursor: pointer;
    }

    &:focus{
        border: 2px solid $primary;
        outline: none;
    }

    @include tablet{
        margin-top: 1rem;
        padding: 1rem;
    }

    &__info{
        font-size: 14px;
    }

    &__label{
        font-weight: 600;
        color: #000;
    }

    &__status{
        text-transform: capitalize;
        font-weight: 600;
        color: #000;

        &--green{
            color: $evaluated;
        }

        &--yellow{
            color: $pending;
        }
    }
}

