@use '../styles/typography';
@use '../styles/mixins' as *;

@include mobile-fonts;

@include tablet{ @include non-mobile-fonts }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Default-AvenirNext';
}

ul{
    list-style: none;
}