@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.submit{
    width: 100%;
    background-color: #FFF;
    border: 2px solid $primary;
    border-radius: 8px;
    padding: 0.75rem 0;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: $primary;
    font-weight: 700;
    max-width: 300px;

    &:hover{
        cursor: pointer;
        background-color: $secondary;
        color: #FFF;
    }

    @include tablet{
        margin-top: 2.5rem;
    }
}