@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem $m-side-padding clamp(1rem, 0.286rem + 3.571vw, 2rem);

    @include tablet{
        padding-right: $t-side-padding;
        padding-left: $t-side-padding;
        padding-top: clamp(1rem, -0.505rem + 3.131vw, 2rem);
    }
}

.nav{
    &__list{
        display: flex;
        gap: clamp(0.5rem, 0.143rem + 1.786vw, 1rem);
        font-size: clamp(1.25rem, 1.071rem + 0.893vw, 1.5rem);
        font-weight: 600;
    }

    &__link{
        color: $primary;

        &--selected{
            border-bottom: 3px solid $primary;
        }
    }
}

.logo{
    border-radius: 2rem;
    height: fit-content;
    font-size: clamp(1.25rem, 0.714rem + 2.679vw, 2rem);

    &__left{
        color: $primary;
        font-weight: 700;
        font-style: italic;
        padding: 0 0.5rem 0.25rem 0.5rem;
        border: 2px solid $primary;
        border-right: none;
    }

    &__right{
        background-color: $primary;
        height: 100%;
        font-weight: 900;
        color: #fff;
        padding: 0 0.5rem 0.25rem 0.25rem;
    }
}